@import url('https://fonts.googleapis.com/css?family=Roboto');


:root {
    /* Colors */
    --bg_light:rgb(244, 244, 244);
    /* --bg_dark: #1b1b1b; */
    
    --bg_dark: #090909;

    --whiteColor: #BDBDBD;
    --blackColor: #171717;

    --blue: #dfdfdf;

    --colorBoxLight: linear-gradient(90deg, rgba(51,177,174,1) 0%, rgba(20,39,47,1) 100%);
    --colorBoxDark: linear-gradient(90deg, rgba(48,48,48,1) 0%, rgba(0,0,0,1) 100%);
    
    --shadow: rgba(0, 0, 0, 0.854);
    --shadowCards: rgba(0, 0, 0, 0.442);

    --shadowBanner: linear-gradient(0deg, rgba(9,9,9,1) 0%, rgba(9,9,9,0.9556037535410765) 27%, rgba(9,9,9,0.7573034702549575) 66%, rgba(9,9,9,0) 100%);

    --colorSecundario: rgb(211, 211, 211);

    --colorEntropia: #30CBCF;

    --white2: rgba(255, 255, 255, 0.878);

    --encabezado1:radial-gradient(circle, rgba(51,177,174,1) 0%, rgba(20,39,47,1) 100%);
    --encabezado2: linear-gradient(90deg, rgba(51,177,174,1) 0%, rgba(20,39,47,1) 100%);
    --encabezado3: linear-gradient(118deg, rgba(0, 0, 0, 0.941) 0%, rgba(16, 80, 98, 0.997) 43%, rgba(57, 6, 91, 0.948) 88%, rgba(0, 0, 0, 0.979) 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

::-webkit-scrollbar {
    display: none; /* Esto oculta la scrollbar en Google Chrome y Safari */
}

.swiper-wrapper {
    padding: 2.5rem 0;
}
.swiper-container {
    overflow: visible;
}

.swiper-pagination-bullet-active {
background-color: var(--colorEntropia);
}


